{% extends "productos/base.html" %}

{% block contenido %}
    <h1>Listado de productos</h1>
    <hr>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>

            {% for producto in productos %}
                <tr>
                    <th scope="row">{{ producto.id }}</th>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>
                        <a href="{% url 'productos:detalle' producto.pk %}" class="btn btn-info">Ver</a>
                        <a href="{% url 'productos:editar' producto.pk %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'productos:eliminar' producto.pk %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}


        </tbody>
    </table>
{% endblock %}