{% extends "catalogo/base.html" %}

{% block titulo %}Listado de productos{% endblock %}

{% block contenido %}
  <h2>Listado de productos. Cantidad: {{ productos|length }}</h2>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
             {% for producto in productos %}
                <tr>
                 <td>{{producto.nombre}}</td>
                 <td>{{producto.stock}}</td>
                 <td>${{producto.precio}}</td>
                 <td>
                    <a href="{% url 'catalogo:producto' producto.id %}">Ver</a>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}